#game{    
    margin: auto;
    padding: 10px;
    padding: 20px;
    background-color:rgb(177, 172, 172)
}
#title-container{
    margin: auto;
    display: inline-block;
    position: relative;
    width: 35%;
}
#main-container{
   display: inline-block;
   position: relative;
   overflow: hidden;
   width: 100%;
}

h1{
    margin-left: 35%;
    color: rgb(16, 50, 240);
}
.button-container{
    width: 450px;
    overflow: hidden;
    padding: 3%;
}

#puzzle-board{
    width: 450px;
    height: 450px;
    float: left;
    /* position: relative;    */

}

#puzzle-board input{
    width:50px;
    height:50px;
    box-sizing: border-box;
    border-spacing: 0;
    border: 1px solid rgb(177, 172, 172);
    text-align: right; 
}
#gen-input{
    width: 70px;
    margin: 10px 10px;
}
.generate-container{
    margin: auto;
    padding: 3px;
    display: inline-block;
    align-content: center;
    /* background-color: rgb(87, 65, 65); */
    width: 450px;
    height: 50px;
    
}

/* #input-cell-0,#input-cell-1,#input-cell-2{
    background-color: rgb(235, 232, 232);
} */
